.boardItem {
  background-color: #fff;
  border-radius: 15px;
  padding: 15px;
  list-style: none;

  margin: 0 0 15px 0;

  .itemContent {
    margin-bottom: 15px;
    line-height: 1.4;
    position: relative;
    color: blue;
    white-space: pre-wrap;
    word-wrap: break-word;
    box-sizing: border-box;

    .itemText {
      display: block;
      font-family: inherit;
      font-size: inherit;
      padding: 0;
      width: 100%;
      height: 100%;
      resize: none;
      border: 0;
      position: absolute;
      top: 0;
      left: 0;
      line-height: inherit;
      background-color: transparent;

      white-space: pre-wrap;
      word-break: break-word;
      box-sizing: border-box;

      &:focus {
        outline-offset: 5px;
      }
    }

    .itemContentSpace {
      color: transparent;
      white-space: pre-wrap;
      word-wrap: break-word;
      box-sizing: border-box;
    }
  }

  .tagsWrapper {
    display: flex;

    .tag {
      margin-right: 0.5rem;
      background-color: #fa3ca0;
      padding: 5px 10px;
      border-radius: 5px;
      color: #ffffff;

      &.addTag {
        margin-right: 0.5rem;
      }
    }
  }
}
