.main {
  // --background-image: url("/images/4.jpg");

  height: 100vh;
  background-color: #333;
  background-image: var(--background-image);
  // background-size: 100% 100%;
  background-size: cover;
  background-position: center;
  // image-rendering: pixelated;
  background-repeat: no-repeat;

  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    backdrop-filter: blur(30px);
  }
}
